<div class="products-url" (click)="changeRoute(book.productId)">
    <div class="products-container">
        <div class="products-img">
            <img height="100px" width="75px" [src]="book.imageUrl" alt="">
        </div>
        <div class="product-detail">
            <div class="product-detail-author">{{book.author}}</div>
            <div class="product-detail-title">{{book.title}}</div>
            <div class="product-detail-price"><strong>Price: </strong>{{book.price}}</div>
            <div class="product-detail-addToCart">
                <button class="btn btn-primary addToCart-button" (click)="addToCart($event)">Add to Cart</button>
            </div>
        </div>

        <div class="product-delete" (click)="emitBookDelete()">
            <b>X</b>
        </div>
    </div>
</div>