<footer class="footer">

  <div class="footer_body">
    <div class="links">
      <p class="links_about">
        <a href="">About us</a>
      </p>
      <p class="links_contact">
        <a href="">Contact us</a>
      </p>
      <p class="links_terms">
        <a href="">Terms and Conditions</a>
      </p>
    </div>
    <div class="social">
        <i class="fab fa fa-instagram"></i>
        <i class="fab fa fa-facebook-square"></i>
        <i class="fab fa fa-twitter"></i>
    </div>
  </div>

</footer>
