// @import "/src/mixins.scss";

.card {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    justify-content: start;
  
    &-image {
      img {
        width: 250px;
        height: 340px;
      }
    }
  
    &-details {
      display: grid;
      grid-auto-flow: row;
      align-items: center;
      padding: 10px;
      position: relative;
      // width: 100%;
  
      &-delete {
        display: grid;
        grid-auto-flow: column;
        align-content: center;
  
        &-ptag {
          margin: auto 0;
        }
      }
  
      p {
        display: grid;
        width: 100%;
      }
  
      &-content-hide {
        overflow: hidden;
        line-height: 1.8em;
        grid-row: 2/3;
        word-wrap: break-word;
      }
  
      &-content-show {
        height: auto;
        line-height: 1.8em;
        height: 50px;
        grid-row: 2/3;
        overflow: hidden;
        word-wrap: break-word;
      }
  
      &-fade::after {
        content: '';
        display: block;
        position: absolute;
        justify-self: end;
        grid-column: 1/3;
        width: 100%;
        margin-top: 20px;
        height: 40px;
        background: white;
        background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }
  
  .newton-close {
    display: grid;
    justify-self: end;
    margin: auto 0;
    font-size: xx-large;
    color: #1a212b;
    cursor: pointer;
  }
  
  .read_more{
      width: 175px;
      transition: all 0.3s;
      cursor: pointer;
      background-color: rgb(173, 216, 230);
      color: black;
      font-weight: 300;
      border: none;
      padding: 4px;
      justify-self: center;
      border-radius: 20px;
  }
.read_more:hover{
    transform: scale(1.03);
    background-color: rgba(214, 241, 250, 0.836);
    border: 1px solid rgb(75, 75, 75);
}

// .card-details{
//   width: 1270px;
// }

  @media screen and (max-width: 1000px) {
  
    .card {
      width: auto;
      margin-right: 110px;
  
      &-image img {
        height: 165px;
        width: 110px;
      }
  
      &-details-fade::after {
        margin-top: 25px;
      }
    }
  
    .newton-close {
      font-size: x-large;
    }
  }
  