<div class="container">
  <form [formGroup]="bookForm" (ngSubmit)="submit()" id="book-form">
    <label for="bookTitle">Book Name:</label>
    <div class="form-group" [ngClass]="
            {
                error: bookForm.controls.title.invalid && bookForm.controls.title.touched
            }">
      <input formControlName="title" name="title" id="bookTitle" type="text" class="form-control"
        placeholder="Book Name" />
    </div>
    <label for="bookAuthor">Author: </label>
    <em class="invalidInput" *ngIf="!isAuthorValid()">
      Author Name may contain only letters!
    </em>
    <div class="form-group" [ngClass]="
            {
                error: !isAuthorValid()
            }
        ">
      <input formControlName="author" name="author" id="bookAuthor" type="text" class="form-control"
        placeholder="Book Author" />
    </div>
    <label for="bookPrice">Price: </label>
    <em class="invalidInput" *ngIf="!isPriceValid()">
      Price may contain only numbers!
    </em>
    <div class="form-group" [ngClass]="
        {
            error: !isPriceValid()
        }
    ">
      <input formControlName="price" name="price" id="bookPrice" type="text" class="form-control"
        placeholder="Book Price" />
    </div>
    <label for="bookPrice">Publishing House: </label>
    <div class="form-group">
        <input formControlName="publishingHouse" name="publishingHouse" id="bookPublishingHouse" type="text" class="form-control"
        placeholder="Publishing House" />
    </div>
    <label for="bookCategory">Category: </label>
    <div class="form-group">
        <input 
            autocomplete="off"
            formControlName="category"
            name="category"
            class="form-control"
            placeholder="Book Category"
            [typeahead]="categoriesName"
            [typeaheadScrollable]="true"
            [typeaheadOptionsInScrollableView]="8"
        />
    </div>
  </form>
</div>
